body {
    margin: 2rem;
    font-family: Arial;
}

.span-element {
    color: orange;
}

.back-btn {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-btn:hover {
    background: orange;
    color: white;
}

.resume-container {
    display: flex;
    gap: 2rem;
}

.resume-left {
    width: 350px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.role {
    color: gray;
    margin-bottom: 20px;
}

.section {
    margin-top: 20px;
    text-align: left;
}

.section h3 {
    color: orange;
    margin-bottom: 8px;
}

.resume-right {
    flex: 1;
}

.block {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.block h2 {
    color: orange;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 10px;
}

.item span {
    color: gray;
    font-size: 0.9rem;
}


.projects {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100px;
    border-radius: 8px;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills div {
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 15px;
}

@media (max-width:1024px) {

    body {
        margin: 1.5rem;
    }

    .resume-container {
        gap: 1.5rem;
    }

    .resume-left {
        width: 220px;
    }

    .card {
        width: 160px;
    }

}

@media (max-width:768px) {

    body {
        margin: 1.2rem;
    }

    .resume-container {
        flex-direction: column;
        align-items: center;
    }

    .resume-left {
        width: 80%;
        text-align: center;
    }

    .resume-right {
        width: 100%;
    }

    .projects {
        justify-content: center;
    }

}

@media (max-width:480px) {

    body {
        margin: 1rem;
    }

    .resume-left {
        width: 92%;
        padding: 15px;
    }

    .block {
        padding: 15px;
    }

    .card {
        width: 200px;
        height: 200px;
    }

    .card img {
        height: 150px;
        width: 150px;
    }

    .skills {
        justify-content: center;
    }

}